main{
    background-color: var(--font-family);
}

/* ///////// */

hr{
    color: black;
    width: 70%;
    height: 1px;
}

main section:nth-last-of-type(1){
    margin: 10% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;

}


section{
    font-family: var(--font-family);
    padding: 7% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;

}

section h1{
    font-family: var(--font-family);
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 40px;

}
section p{
    font-size: 20px;
}

span{
    color: red;
}

/* Laptop */
@media (max-width: 1332px) and (min-width: 769px) {

    section h1{
        font-size: 30px;
        letter-spacing: 20px;
    
    }
    section p{
        font-size: 15px;
    }

}

/* Tab */
@media (max-width: 768px) {

    section h1{
        font-size: 17px;
        letter-spacing: 13px;
        padding: 10% 0%;

    }
    section p{
        font-size: 14px;
    }
    section h2{
        font-size: 13px;
    }
    
}

/* Mobile L */
@media (max-width: 426px) {

    section h1{
        font-size: 16px;
        letter-spacing: 11px;
        padding: 25% 0%;
    
    }
    section p{
        font-size: 14px;
        padding: 25% 0%;
    }
    section ul li p {
        font-size: 14px;
        padding: 0% 0%;

    }

    section h2{
        font-size: 15px;
    }
    
}

/* Mobile M */
@media (max-width: 376px) {

    section{
        padding: 10% 0%;
    }
   
    section h1{
        font-size: 16px;
        letter-spacing: 10px;
    
    }
  
    section p{
        font-size: 12px;
        padding: 25% 0%;
    }
    section ul li p {
        font-size: 14px;
        padding: 0% 0%;

    }

    section h2{
        font-size: 13px;
    }

}

/* Mobile S */
@media (max-width: 321px) {

    section{
        padding: 16% 0%;
    }
    section h1{
        font-size: 14px;
        letter-spacing: 8px;
        padding: 30% 0%;

    
    }
  
    
    section h2{
        font-size: 13px;
    }
    section p{
        font-size: 11px;
    }

  
}