main{
    background-color: var(--bg-color);
    color: var(--font-color);
}

/* ///////// */

hr{
    background-color: var(--font-color);
    width: 70%;
    height: 1px;
}

main section:nth-last-of-type(1){
    margin: 10% 0% 0% 0%;
}


section{
    font-family: var(--font-family);
    padding: 7% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;

}
section h1{
    font-family: var(--font-family);
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 40px;

}
section p{
    font-size: 20px;
}


#flashImage{
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#flashImage img{
    margin: 5% 0%;
    height: 280px;
    width: 200px;
}

#pagination{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin: 5% 0%;
    align-items: center;
    justify-content: center;
}

#pagination a{
    margin: 0% 50%;
    color: var(--font-color);
    text-decoration: none;
}

.current-page {
    color: var(--font-color) !important ;
    text-decoration: underline !important ;
    font-weight: bold !important;
}






/* Laptop */
@media (max-width: 1332px) and (min-width: 769px) {

    section h1{
        font-size: 30px;
        letter-spacing: 20px;
    
    }
    section p{
        font-size: 15px;
    }

    #flashImage img{
        height: 270px;
    }
    
}


/* Tab */
@media (max-width: 768px) {

    #flashImage{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    section h1{
        font-size: 32px;
        letter-spacing: 15px;
        padding: 10% 0%;

    }
    section p{
        padding: 10% 0%;
        font-size: 10px;
    }

    .flashImage img{
        margin: 5% 0%;
        height: 250px;
    }

    
}

/* Mobile L */
@media (max-width: 426px) {

   

    section h1{
        font-size: 22px;
        letter-spacing: 15px;
        padding: 24% 0%;
    
    }
    section p{
        font-size: 12px;
        padding: 25% 0%;
    }

    #flashImage{
        display: grid;
        grid-template-columns: 1fr;
    }

    
}

/* Mobile M */
@media (max-width: 376px) {

   
    section h1{
        font-size: 18px;
        letter-spacing: 10px;
        padding: 30% 0%;

    }
  

}

/* Mobile S */
@media (max-width: 321px) {

   
    section h1{
        font-size: 17px;
        letter-spacing: 10px;
        padding: 37% 0%;

    }
  
    section p{
        font-size: 12px;
        padding: 30% 0%;
    }


}